<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City App</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif">
    <br><br>
    <p style="font-size:30px"><b>[[${city}]]</b> is a city in [[${district}]],
    [[${country}]] with a population of [[${population}]]
    <p>
    <br><br><br>

        <small style="color:darkred">Connected to <b>[[${dburl}]]</b>
            using username: <b>[[${dbusername}]]</b> and password: <b>[[${dbpassword}]]</b></small>

</body>
</html>